<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item"><%= link_to 'Parts', parts_path %></li>
    <li class="breadcrumb-item">Part #<%= @part.id %></li>
</ol>

<div class="container-fluid">
    <div id="ui-view">
        <div>
          <p id="notice"><%= notice %></p>
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-sm-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        Part Information
                        <div class="card-header-actions">
                          <%= link_to 'Edit Part', edit_part_path(@part), class: 'card-header-action' %>
                        </div>
                    </div>
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <b>FTI Part #</b> <span class="float-right"><%= @part.id %></span>
                        </li>
                        <li class="list-group-item">
                          <b>Description</b> <span class="float-right"><%= @part.description %></span>
                        </li>
                        <li class="list-group-item">
                          <b>Manufacturer</b> <span class="float-right"><%= @part.mfg %></span>
                        </li>
                        <li class="list-group-item">
                          <b>Manufacturer Part #</b> <span class="float-right"><%= @part.mfg_id %></span>
                        </li>
                        <li class="list-group-item">
                          <b>Category</b> <span class="float-right"><%= @part.category.name %></span>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
              <div class="col-sm-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <%= @part.category.name %> Details
                        <div class="card-header-actions">
                          <%= link_to 'Edit Details', edit_part_path(@part), class: 'card-header-action' %>
                        </div>
                    </div>
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <b>Voltage</b> <span class="float-right">100V</span>
                        </li>
                        <li class="list-group-item">
                          <b>Amps</b> <span class="float-right">18A</span>
                        </li>
                        <li class="list-group-item">
                          <b>Package</b> <span class="float-right">TO-223</span>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        BOM - Goes Into These Assemblies
                        <div class="card-header-actions">
                          <%= link_to 'Edit BOM', edit_part_path(@part), class: 'card-header-action' %>
                        </div>
                    </div>
                    <div class="card-body">
                      <ul class="list-group">
                        <% @part.assembly_boms.each do |bom| %>
                          <li class="list-group-item">
                          <b><%= link_to assembly_path(bom.assembly.id) do %>
                            <%= bom.assembly.name %> - <%= bom.count %>x</b>
                          <% end %>
                          <span class="float-right"><%= bom.refdes %></span>
                        </li>
                        <% end %>
                      </ul>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>