<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Home</a>
  </li>
  <li class="breadcrumb-item"><%= link_to 'Orders', orders_path %></li>
  <li class="breadcrumb-item">Order #<%= @order.id %></li>
</ol>
<div class="container-fluid">
  <div id="ui-view">
    <div>
      <div class="card">
        <div class="card-header">Order
          #<%= @order.id %> - <strong><%= @order.name %></strong>
          <a class="btn btn-sm btn-success float-right mr-1 d-print-none" href="#" onclick="javascript:window.print();">
            <i class="material-icons md-12">print</i> Print</a>
          <a class="btn btn-sm btn-info float-right mr-1 d-print-none" href="#">
            <i class="material-icons md-12">picture_as_pdf</i> Export to PDF</a>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <% @order.order_boms.each do |bom| %>
              <% bom.count.times do |b| %>
                <% bom.product.product_boms.each do |a| %>
                  <% a.count.times do |i| %>
                    <% location = bom.product.id.to_s + '-' + a.assembly.id.to_s + '-' + b.to_s + '-' + i.to_s %>
                    <% assigned = a.assembly.modulelogs.where(order_id: @order.id).where(location: location) %>
                    <li class="list-group-item list-group-item-action align-items-start flex-column">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-3"><%= a.assembly.fullname %></h5>
                        <small id="update-<%= location %>">Updated:
                          <% if assigned.count == 0 %>
                            Never
                          <% else %>
                            <%= time_ago_in_words(assigned.first.updated_at) %> ago by <%= assigned.first.user.username %>
                          <% end %>
                        </small>
                      </div>
                      <div id="progress-<%= location %>">
                        <% if assigned.count > 0 %>
                          <div class="mb-3 progress">
                            <div class="progress-bar" role="progressbar" style="width: <%= assigned.first.progress %>%" aria-valuemin="0" aria-valuemax="100" aria-valuenow="<%= assigned.first.progress %>">
                              <%= assigned.first.progress %>%
                            </div>
                          </div>
                        <% end %>
                      </div>
                      <div>
                        <div id="detail-<%= location %>" class="float-left">
                          <% if assigned.count == 0 %>
                            Currently <strong><mark>unassigned</mark></strong>
                          <% else %>
                            Currently assigned to <%= a.assembly.shortname %> <strong><%= link_to assigned.first.serial, modulelog_path(assigned.first.id) %></strong> <span class="badge <%= color_to_class(assigned.first.category.color) %>"><%= assigned.first.category.name %></span>
                            <br />
                            <%= assigned.to_ary %>
                          <% end %>
                        </div>
                        <div class="float-right btn-group btn-group-sm" role="group">
                          <%= form_with(model: Modulelog.first, id: 'form-' + location) do |form| %>
                            <%= form.hidden_field :user_id, :value => current_user.id %>
                            <%= form.hidden_field :order_id, :value => @order.id %>
                            <%= form.hidden_field :old_module, :value => assigned.first.id if assigned.count > 0 %>
                            <%= form.hidden_field :location, :value => location %>
                            <%= form.hidden_field :progress, :value => '58' %>
                            <%= form.collection_select :modulelog_id, a.assembly.modulelogs.where(assembly_id: a.assembly.id).order(serial: :desc), :id, :name, {:include_blank=>'Assignment'}, {:class=>'form-control s2'} %>
                          <% end %>
                          <button class="btn btn-secondary" type="button">Progress</button>
                        </div>
                      </div>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
