<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_with(model: @category, class: 'form-horizontal') do |f| %>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if @category.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@category.errors.count, "error") %> prohibited this customer from being saved:</h2>
            <ul>
              <% @category.errors.full_messages.each do |m| %>
                <li><%= m %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group row">
          <%= f.label :name, class: 'col-md-3 col-form-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <%= f.hidden_field :table, :value => URI(request.referer).path.split('/')[1] %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
