<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">Categories</li>
</ol>

<div class="container-fluid">
    <div id="ui-view">
        <div>
            
            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        Category List
                        <div class="card-header-actions">
                          <%= link_to new_category_path, class: 'card-header-action' do %>
                            Create New Category
                          <% end %>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="categories-table" class="table table-responsive-sm table-bordered table-striped table-sm">
                           <thead>
                            <tr>
                              <th>Name</th>
                              <th>Table</th>
                              <th></th>
                            </tr>
                          </thead>

                          <tbody>
                            <% @categories.each do |category| %>
                              <tr>
                                <td>
                                    <%= link_to category do %>
                                        <%= category.name %>
                                    <% end %>
                                </td>
                                <td><%= category.table %></td>
                                <td><%= link_to 'Edit', edit_category_path(category) %> | <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
