<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Home</a>
  </li>
  <li class="breadcrumb-item">Material Status</li>
</ol>
<div class="container-fluid">
  <div id="ui-view">
    <div>
      <div class="animated fadeIn">
        <div class="card">
          <div class="card-header">
            Material Status
          </div>
          <div class="card-body">
            <table id="material-table" class="table table-responsive-sm table-bordered table-sm">
              <thead>
                <tr>
                  <th></th>
                  <% @headers.each do |header| %>
                    <th class="<%= checkhidden(header.current) %>"><%= header.shortname %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @orders.each do |order| %>
                  <tr>
                    <td><%= order['name'] %></td>
                    <% @headers.each do |header| %>
                      <td><%= zeroifnil(order['assemblies'][header.id]) %></td>
                    <% end %>
                  </tr>
                <% end %>
                <% @modules.each do |m| %>
                  <tr style="<%= checkhidden(m[1]['visible']) %> background-color: <%= m[1]['color'] %>">
                    <td><%= m[1]['name'] %></td>
                    <% @headers.each do |header| %>
                      <td><%= zeroifnil(m[1][header.id]) %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
