<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Home</a>
  </li>
  <li class="breadcrumb-item">Material Status</li>
</ol>
<div class="container-fluid">
  <div id="ui-view">
    <div>
      <div class="animated fadeIn">
        <div class="card">
          <div class="card-header">
            Material Status
          </div>
          <div class="card-body">
            <table id="material-table" class="table table-responsive-sm table-bordered table-sm">
              <thead>
                <th colspan="2"></th>
                <% @subheaders.each do |sh| %>
                  <th colspan="<%= sh.count %>"><%= sh.name %></th>
                <% end %>
                <tr>
                  <th class="nosearch"></th>
                  <th class="hidden search">Category</th>
                  <% @headers.each do |header| %>
                    <th class="<%= checkhidden(header.current, 'class') %> <%= header.order %> nosearch">
                      <%= header.shortname %>
                      <% if @count[header.order] > 1 && header.current%>
                        <i class="material-icons md-18 toggle-vis" data-column="<%= header.order %>">keyboard_arrow_right</i>
                      <% end %>
                    </th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @orders.each do |order| %>
                  <tr class="<%= slug(order['category']) %>">
                    <td><%= order['name'] %></td>
                    <td><%= order['category'] %></td>
                    <% @headers.each do |header| %>
                      <td><%= zeroifnil(order['assemblies'][header.id]) %></td>
                    <% end %>
                  </tr>
                <% end %>
                <tr id="customer-requirement" style="background-color: rgba(125, 255, 0, 0.15);">
                  <td>Customer Requirement</td>
                  <td>Customer Requirement</td>
                  <% @headers.each do |header| %>
                    <td>0</td>
                  <% end %>
                </tr>
                <% @modules.each do |m| %>
                  <tr class="inventory <%= checkhidden(m[1]['visible'], 'class') %>" style="<%= checkhidden(m[1]['visible'], 'style') %>; background-color: <%= m[1]['color'] %>">
                    <td><%= m[1]['name'] %></td>
                    <td>Material Count</td>
                    <% @headers.each do |header| %>
                      <td>
                        <% if m[1][header.id].nil? %>
                          0
                        <% else %>
                          <%= m[1][header.id]['total'] %>
                          <i class="material-icons md-18 pop" data-container="body" data-toggle="popover" data-placement="right" data-content='<%= render partial: "module_links", locals: {mod: m[1][header.id]} %>'>help_outline</i>
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
                <tr id="inventory-balance" style="background-color: rgba(92, 104, 115, 0.5);">
                  <td><b>Inventory Count</b></td>
                  <td>Total</td>
                  <% @headers.each do |header| %>
                    <td>0</td>
                  <% end %>
                </tr>
                <tr id="material-balance" style="background-color: rgba(92, 104, 115, 0.5);">
                  <td><b>Material Balance</b></td>
                  <td>Total</td>
                  <% @headers.each do |header| %>
                    <td class="conditional">0</td>
                  <% end %>
                </tr>
                <tr id="min-order" style="background-color: rgba(92, 104, 115, 0.5);">
                  <td><b>Min. Order Quantity</b></td>
                  <td>Total</td>
                  <% @headers.each do |header| %>
                    <td class="conditional2">0</td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
