<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">Products</li>
</ol>

<div class="container-fluid">
    <div id="ui-view">
        <div>
            <p id="notice"><%= notice %></p>
            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        Product List
                        <div class="card-header-actions">
                          <%= link_to new_product_path, class: 'card-header-action' do %>
                            Create New Product
                          <% end %>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="products-table" class="table table-responsive-sm table-bordered table-striped table-sm">
                           <thead>
                            <tr>
                              <th>Name</th>
                              <th>Price</th>
                              <th>Category</th>
                              <th></th>
                            </tr>
                          </thead>
                        
                          <tbody>
                            <% @products.each do |product| %>
                              <tr>
                                <td>
                                    <%= link_to product do %> 
                                        <%= product.name %>
                                    <% end %>
                                </td>
                                <td><%= product.price %></td>
                                <td><%= product.category.name %></td>
                                <td><%= link_to 'Edit', edit_product_path(product) %> | <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
