<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">Assemblies</li>
</ol>

<div class="container-fluid">
    <div id="ui-view">
        <div>
            <p id="notice"><%= notice %></p>
            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        Assembly List
                        <div class="card-header-actions">
                          <%= link_to new_assembly_path, class: 'card-header-action' do %>
                            Create New Assembly
                          <% end %>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                          <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary toggle-filter active" cat-filter="active-true">Active</button>
                            <button type="button" class="btn btn-secondary toggle-filter active" cat-filter="current-true">Current</button>
                          </div>
                          <div class="btn-group" role="group">
                            <% @categories.each do |category| %>
                              <button type="button" class="btn btn-secondary toggle-category" cat-order="<%= category.name %>"><%= category.name %></button>
                            <% end %>
                          </div>
                        </div>
                        <table id="assemblies-table" class="table table-responsive-sm table-bordered table-striped table-sm">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Short Name</th>
                              <th class="hidden">active-search</th>
                              <th class="hidden">current-search</th>
                              <th>Category</th>
                              <th>Active</th>
                              <th>Current</th>
                              <th></th>
                            </tr>
                          </thead>

                          <tbody>
                            <% @assemblies.each do |assembly| %>
                              <tr>
                                <td>
                                    <%= link_to assembly do %>
                                        <%= assembly.fullname %>
                                    <% end %>
                                </td>
                                <td><%= assembly.fullshortname %></td>
                                <td>active-<%= assembly.active %></td>
                                <td>current-<%= assembly.current %></td>
                                <td><%= assembly.category.name %></td>
                                <td><%= iconify(assembly.active) %></td>
                                <td><%= iconify(assembly.current) %></td>
                                <td><%= link_to 'Edit', edit_assembly_path(assembly) %> | <%= link_to 'Destroy', assembly, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
